<%= month_calendar events: reservations do |date, reservations| %>

<%= date %>
<% reservations.each do |reservation| %>
<div class="">
  <%= link_to reservation.name, reservation, class: "meeting-link" %>


</div>

<% end %>
<% end %>
