<div class="w-50 p-3 mt-5 my-10 mx-auto text-center rounded border shadow">
  <%= image_tag "Schedule.svg", alt: "schedule", width: 300, class: "mb-4" %>
<h2 class="mb-6">It looks like you haven't scheduled a reservation yet</h2>
<%= link_to "Reserve Now", new_reservation_path, class: "btn btn-outline-dark btn-sm" %>

</div>
