  <div class=" background "
      <div class="p-5 mb-4 bg-light rounded-3 ">

            <div class="container-fluid py-3">
                  <!-- <img class="bg-cover height:auto image-fluid width="500" height="500"  src="/assets/background.jpg"> -->
                  <!-- <div class="background"></div> -->
              <h1 class="display-5 fw-bold">Start Adventures with us Today!</h1>
              <p class=" fs-3">“About the best reason I can think of for owning a kayak is that it can take me into wilderness. And what, you may ask, is so great about wilderness? The silence, for one thing.” – Robert Kimber</p>
            </div>

          </div>


<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Lake Johnson</h2>
        <p class="lead">Lake Johnson Park is composed of a 150+ acre lake and 300+ acres of land surrounding the lake. The park offers non-motorized boating, greenway trails, fishing, picnic shelters, and a variety of classes. The Waterfront Program Center has an indoor conference room a deck and a covered verandah available for rent</p>
        <%= link_to "Reserve Now", reservations_path, class: "btn btn-outline-dark btn" %>
      </div>


      <div class="col-md-5">
          <img src="/assets/1.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>
      </div>
  </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Wheeler Lake</h2>
        <p class="lead">Wheeler Lake is a 281 acre lake located in Oconto County. It has a maximum depth of 35 feet. Visitors have access to the lake from a public boat landing. Fish include Panfish, Largemouth Bass, Smallmouth Bass, Northern Pike and Walleye.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, Lake Lynn</h2>
        <p class="lead">Lake Lynn is a man-made lake in Raleigh, North Carolina. The lake was created for flood control purposes in 1976 by damming Hare Snipe Creek, a tributary of Crabtree Creek. The lake has an area of 55.7 acres (22.5 ha) and lies entirely within the city of Raleigh's 75-acre (30 ha) Lake Lynn Park.</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/3.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
