<!-- <footer class="pt-3 mt-4 text-muted border-top text-center">
    </footer> -->
    <footer class="footer mt-auto py-3 bg-light text-center">
  <div class="container">
    <span class="text-muted">© 2021 Kayak Rental, LLC</span>
  </div>
</footer>
